{{> header}}
<div class="container fluid my-4" style="width: 70%;">
  <ul class="navbar-nav ms-auto mb-2 mb-md-0">
    <li class="nav-item">
      <a href="/records"><button class="btn btn-warning my-sm-0 my-2 me-2">List</button></a>
    </li>
  </ul>
  <div class="mt-3">
    <ul class="nav nav-tabs">

      <li class="nav-item">
        <a class="nav-link {{#ifCond null categoryId}}active{{/ifCond}}" href="?selectDate={{selectDate}}">全部類別</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">月份</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item {{#ifCond null selectDate}}active{{/ifCond}}" href="?selectDate=">全部</a></li></li>
          {{#each dateArr}}
          <li><a class="dropdown-item {{#ifCond this ../selectDate}}active{{/ifCond}}" href="?selectDate={{this}}">{{this}}</a></li>
          {{/each}}
        </ul>
      </li>

    </ul>
  </div>

  <h1 class="totalAmount text-center text-danger mt-4" style="letter-spacing: 2px;">{{totalAmount}}</h1>
  <p class="text-end text-primary-emphasis me-5">元</p>
  <div>
    <canvas id="myChart"></canvas>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');
  const categories = {{{ json categories }}}
  const categorySum = {{{ json categorySum }}}

  new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: categories,
      datasets: [{
        label: '$',
        data: categorySum,
        backgroundColor: [
        'rgba(255, 99, 132, 0.6)',
        'rgba(54, 162, 235, 0.6)',
        'rgba(255, 206, 86, 0.6)',
        'rgba(70, 191, 189, 0.6)',
        'rgba(148, 159, 177, 0.6)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(70, 191, 189, 1)',
          'rgba(148, 159, 177, 1)',
        ],
        borderWidth: 2
      }]
    },
    options: {
      layout: {
          padding: {
            left: 40,
            right: 40
          }
      }
    }
  });
</script>